.headerContainer {
	position: relative;
	min-height: 434px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
	position: relative;
	overflow: hidden;
	padding-inline: 17.317708333333332vw;
}

.headerBackground {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.headerContentContainer {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: row;
	gap: 78px;
	flex-wrap: wrap;
}

.headerDetails {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 418px;
	flex-wrap: wrap;
}

.introText {
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	/* or 117% */

	/* black_bike */
	max-width: 348px;
	color: #233348;
	margin-top: 0;
	margin-bottom: 24px;
}

.introTextSubtitle {
	font-style: normal;
	font-weight: 300;
	font-size: 21px;
	line-height: 32px;
	/* or 152% */

	color: #7d7987;
	margin-bottom: 49px;
}

.searchBoxContainer {
	display: flex;
	position: relative;
	width: 100%;
}

.searchInput {
	outline: none;
	border-radius: 100px;
	width: 100%;
	height: 56px;
	padding-inline: 18.5px;
	padding-left: 48px;
	border: 1px solid #c2cfe0;
	background-color: #fff;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */

	letter-spacing: 0.01em;

	color: #233348;
}

.searchInput::placeholder {
	color: #c2cfe0;
}

.searchInput:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #c2cfe0;
}

.searchInput::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #c2cfe0;
}

.searchInputIcon {
	position: absolute;
	top: 22.5px;
	left: 18.5px;
}

.searchInputButton {
	position: absolute;
	right: 8px;
	top: 10px;
	background: linear-gradient(180deg, rgba(255, 189, 55, 0.58) 0%, #ffbd37 100%);
	border-radius: 100px;
	height: 40px;
	width: 109px;
	border: none;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */

	letter-spacing: 0.01em;
	color: #000000;
	transition: all 0.5s;
}
.searchInputButton:hover {
	background: linear-gradient(180deg, rgba(255, 189, 55, 1) 0%, #ffbd37 100%);
	color: #fff;
	cursor: pointer;
}

.mainBikeSection {
	padding-left: 17.317708333333332vw;
	margin-top: 120px;
	position: relative;
	min-height: 464px;
	overflow: hidden;
}

.cardTitle {
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	/* identical to box height */

	/* black_bike */

	color: #233348;
	margin-bottom: 18.47px;
}

.button {
	background: linear-gradient(180deg, rgba(255, 189, 55, 0.58) 0%, #ffbd37 100%);
	border-radius: 100px;
	height: 40px;
	width: 109px;
	border: none;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.01em;
	color: #000000;
	transition: all 0.5s;
}
.button:hover {
	background: linear-gradient(180deg, rgba(255, 189, 55, 1) 0%, #ffbd37 100%);
	color: #fff;
	cursor: pointer;
}

.priceTitle {
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */

	color: #7d7987;
}

.price {
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	/* identical to box height */

	/* black_bike */

	color: #233348;
}

.otherBikeSection {
	padding-left: 17.317708333333332vw;
	margin-top: 57px;

	/* min-height: 229px; */
	overflow: hidden;
}

.otherBikesHeader {
	font-weight: 600;
	font-size: 24px;
	line-height: 56px;
	/* identical to box height, or 233% */

	/* black_bike */

	color: #233348;
	margin-top: 0;
	margin-bottom: 40px;
}

.otherBikeName {
	margin-top: 16px;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */

	/* black_bike */

	color: #233348;
}

.otherBikeContainer:hover .otherBikeCard {
	border: 2px solid #fcb72b;
}

.otherBikeContainer:hover .otherBikeName {
	color: #fcb72b;
}

.hybridBikesSection {
	padding-inline: 17.317708333333332vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
	margin-top: 188px;
	gap: 20px;
}

.actionButton {
	font-weight: bold;
	font-size: 18px;
	line-height: 60px;
	/* identical to box height, or 333% */

	color: #fcb72b;
	background-color: #fff;
	width: 200px;
	height: 56px;
	border: 1.4px solid #fcb72b;
	box-sizing: border-box;
	border-radius: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.5s;
}

.actionButton:hover {
	background-color: #fcb72b;
	color: #fff;
}

.customerSection {
	padding-inline: 17.317708333333332vw;
	margin-top: 202.77px;
	padding-bottom: 157px;
	position: relative;
	overflow: hidden;
}

.customerSectionContent {
	/* width: 100%; */
	/* min-height: 425px; */
	padding-top: 64px;
	padding-bottom: 63px;
	padding-left: 8.3984375vw;
	padding-right: 7.096354166666667vw;
	background-color: #fcb72b;
	border-radius: 10px;
	color: #fff;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.customerSectionHeader {
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	/* identical to box height, or 133% */

	color: #ffffff;

	/* text-align: center; */
	margin-top: 0;
	margin-bottom: 5px;
}

.customerSectionContentLine {
	height: 2px;
	width: 56px;
	background-color: #fff;
	border-radius: 6px;
}

.customerCommentContainer {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	width: 100%;
}

.customerDetailContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.customerName {
	font-weight: bold;
	font-size: 22px;
	line-height: 48px;
	/* identical to box height, or 218% */
}

.customerJob {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	/* identical to box height, or 267% */

	color: rgba(255, 255, 255, 0.85);
}

.customerComment {
	font-weight: normal;
	font-size: 19px;
	line-height: 30px;
	/* or 158% */

	color: rgba(255, 255, 255, 0.9);
	max-width: 420px;
}
.customerBackground {
	position: absolute;
	top: -65px;
	right: -15px;
	/* z-index: -1; */
}

.customerSectionBackground {
	position: absolute;
	bottom: -65px;
	right: 0;
}
